.portfolio-page{
    padding-left: 150px;
    padding-right: 20px;
    height: 100vh;
    // overflow: auto;
    padding-bottom: 20px;

    h1.page-title{
        margin-top: 100px;
    }

    .porfolio-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        overflow: hidden;

        .wrapper{
            width: 300px;
            position: relative;
            opacity: 0;
            animation: backInLeft 3s  forwards;
            overflow: hidden;

            .forlio-img{
                width: 100%;
            }
    
            .preview-link{
                color: inherit;
                padding: 1rem;
                background: #ffd700;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: 2;
                font-size: 14px;
                letter-spacing: 3px;
            }

            .forlio-title{
                text-transform: uppercase;
                letter-spacing: 3px;
                top: 20px;
                position: absolute;
                font-size: 10px;
                left: -200px;
                color: #ffd700;
                z-index: 3;
                transition: .5s;
            }

            .tools{
                color: #ffd700;
                font-size: 14px;
                text-transform: uppercase;
                position: absolute;
                bottom: -2rem;
                left: 10px;
                transition: .5s;
                letter-spacing: 1px;
                z-index: 3;
            }

            .title-overlay{
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                opacity: 0;
                transition: .5s;
            }

            .forlio-img{
                transition: .5s;
                width: 100%;
                height: 100%;
            }

            &:hover{
            
                .title-overlay{
                    opacity: 1;
                }

                .forlio-img{
                    transform: scale(1.03);
                }

                .forlio-title{
                    left: 20px;
                }

                .preview-link{
                    color: #ffd700;
                    background: transparent;
                    border: 1px solid #ffd700;
                }

                .tools{
                    bottom: 10px;
                }
            }
        }

      
        .w-1{
            animation-delay: 2s;
        }

        .w-2{
            animation-delay: 2.2s;
        }

        .w-3{
            animation-delay: 2.4s;
        }

        .w-4{
            animation-delay: 2.6s;
        }

        .w-5{
            animation-delay: 2.8s;
        }

        .w-6{
            animation-delay: 3s;
        }

        .w-7{
            animation-delay: 3.2s;
        }
        .w-8{
            animation-delay: 3.4s;
        }
    }
}

/* RESPONSIVE FOR SMALLER SCREEN */
@media screen and  (max-width : 1200px){
    .portfolio-page{
        flex-direction: initial;
        padding-left: 0;
        padding-right: 0;

        h1.page-title{
            margin-top: 1rem;
        }
        
        .porfolio-container{
            grid-template-columns: 1fr;
            width: 100%;
            margin-bottom: 4rem;

            .wrapper{
                width: 100%;
            }
        }
        
    }

    
}